*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg{
  height: infinite;
  width: infinite;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


body {
  margin: 0;
  font-family: verdana;
}
img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.row{
  display: flex;
  gap: 15px;
}
.gallery{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
button{
  padding: 15px 50px;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab,red);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;  
  color: white;
  font-family: verdana;
  border: snow;
  border-radius: 5px;
}
button:hover{
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  cursor: pointer;  
}




@media screen and (max-width:750px){
  .row{
    flex-direction: column;
  }
}


/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: grey; 
  color: white;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
/*background-color: grey;*/
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab,red);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
  color: white;
}

.nav-links a {
  color: white;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #ddd;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  cursor: pointer;
  border-radius: 5px;
}

.services:hover .dropdown {
  display: block;
}
/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    cursor: pointer;
    border-radius: 5px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    cursor: pointer;
    border-radius: 5px;
  }
}