*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg{
  height: infinite;
  width: infinite;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


body {
  margin: 0;
  font-family: verdana;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}
img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.row{
  display: flex;
  gap: 15px;
}
.gallery{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
button{
  padding: 15px 50px;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;  
  color: white;
  font-family: verdana;
  border: snow;
  border-radius: 5px;
}
button:hover{
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  cursor: pointer;  
}




@media screen and (max-width:750px){
  .row{
    flex-direction: column;
  }
}




.topnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.topnav-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.topnav a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;  
  color: white;
  font-family: verdana;
  border-radius: 5px;
  display: block;
  transition: 0.3s;
}

.topnav a:hover, .topnav a:focus {
  color: #f1f1f1;
}

.topnav .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .topnav a {font-size: 20px}
  .topnav .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}